# Virtual environments
venv/
venv310/
venv_ragas/

# Logs
logs/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Data (RAG)
data/

# local file
*.gguf
*.pt
*.safetensors
checkpoint-*